.nav-bar-container{
  height: 120px;
  padding: 0px 50px;
  background-color: red;
  display: flex;
  align-items: center;
  justify-content: space-between;
}


.nav-bar-item {
  flex: 1;
  display: flex;
  align-items: center;
}



.callButton {
  margin-left: 48px;
  background-color: white;
  border-radius: 50%;
  width: 50px;
  height: 50px;
}

.text {
  margin-left: 10px;
  color: white;
}

.cartButton{
  margin-left: 40px;
  display: flex;

}

.counter{
    top: -30px;
    right: -10px;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    color: #d1411e;
}


.footer-container {
  height: calc(100vh - 100px);
  background-color: #222;
  display: flex;
}

.footer-item{
  flex: 1;
  position: relative;
  display: flex;
}

.footer-card{
  padding: 0 20px;
}

.footer-title{
  font-size: 18px;
  color: #b7903c;
}

.motto {
  color: rgb(211, 211, 211);
}


.product-container {
  padding: 20px 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.product-desc {
  font-size: 24px;
  color: #444;
  width: 70%;
}

.pizza-featured {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.container-pizza-card {
  width: 22%;
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px 40px;
  cursor: pointer;
}

.pizza-title {
  font-size: 18px;
  font-weight: bold;
  color: #d1411e;
}

.pizza-price {
  font-size: 18px;
  font-weight: bold;
  color: #666;
}

.pizza-desc {
  text-align: center;
  color: #777;
}


@media screen and (max-width: 480px) {
  .footer-container {
    height: auto;
    text-align: center;
  }
  .footer-item:first-child {
    display: none;
  }

  .footer-item {
    flex-direction: column;
  }

  .footer-title {
    font-size: 30px;
  }

  .footer-text {
    font-size: 20px;
  }

  .product-title {
    text-align: center;
  }

  .product-desc {
    width: 90%;
    text-align: center;
  }

   .container-pizza-card {
    width: 100%;
  }

  .pizza-title {
    font-size: 30px;
  }

  .pizza-price,
  .pizza-desc {
    font-size: 24px;
  }
}
