.nav-bar-container{
  height: 120px;
  padding: 0px 50px;
  background-color: red;
  display: flex;
  align-items: center;
  justify-content: space-between;
}


.nav-bar-item {
  flex: 1;
  display: flex;
  align-items: center;
}



.callButton {
  margin-left: 48px;
  background-color: white;
  border-radius: 50%;
  width: 50px;
  height: 50px;
}

.text {
  margin-left: 10px;
  color: white;
}

.cartButton{
  margin-left: 40px;
  display: flex;

}

.counter{
    top: -30px;
    right: -10px;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    color: #d1411e;
}